.container {
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

.pipeform_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.pipeform_wrapper_buttons {
  display: flex;
  justify-content: center;
}